<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDOs</title>
</head>
<body>
    {% block content %}
    <ul>
        {% for r in results %}
        <li>
            Todo: {{r.description}}<br>
            Done: {{r.done}}
            <a href="/todos/done/{{r.id}}">Go to ToDo</a>
            <p></p>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>