<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Restaurant</title>
</head>
<body>
    <h1>Add New Restaurant</h1><br>
    <form action='/restaurant/new' method='POST'>
        <input name="r_name" placeholder='Restaurant Name'><br><br>
        <input name="r_address" placeholder="Address"><br><br>
        <input name="r_category" placeholder="Category"><br><br>
        <button type="submit">Add Restaurant</button>
    </form>
</body>
</html>