<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Restaurant</title>
</head>
<body>
        {% for d in data %}
        <h1>
            {{d.restaurant_name}}
        </h1>
        {% endfor %}
        <p></p>
        {% for dd in data2 %}
        <h4>
            Review Title:  {{dd.review_title}}
        </h4>
        <li>
            Review:  {{dd.review}}
        </li>
        <li>
            Stars:  {{dd.stars}}
        </li>
        <li>
            Reviewer Name:  {{dd.reviewer_name}}
        </li>
        {% endfor %}
        <br>
        <br>
        <br>
        <br>
        <h3>Add Review</h3>
        <form action='' method='POST'>
            <input name='r_title' placeholder='Review Title'><br><br>
            <label>1 Star</label><input type='radio' name='star' value='1'>
            <label>2 Star</label><input type='radio' name='star' value='2'>
            <label>3 Star</label><input type='radio' name='star' value='3'>
            <label>4 Star</label><input type='radio' name='star' value='4'>
            <label>5 Star</label><input type='radio' name='star' value='5'><br><br>
            <textarea rows="10" cols="50" name='r_par' placeholder="Review"></textarea><br><br>
            <button type="submit" >Add Review</button>
        </form>
    <!-- Bootstrap JS CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous">
    </script>
</body>
</html>