<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant</title>
</head>
<body>
    <!-- <h1>
        {{r.restaurant_name}}
    </h1>
    <li>
        Address:  {{r.address}}
    </li>
    <li>
        Category:  {{r.category}}
    </li>
    {% for r in results %}
    <li>
        Category:  {{r.category}}
    </li>
    <li>
        Review Title:  {{r.review_title}}
    </li>
    {% endfor %} -->
        {% for d in data %}
        <h1>
            {{d.restaurant_name}}
        </h1>
        {% endfor %}
        <p></p>
        {% for dd in data2 %}
        <h4>
            Review Title:  {{dd.review_title}}
        </h4>
        <li>
            Review:  {{dd.review}}
        </li>
        <li>
            Stars:  {{dd.stars}}
        </li>
        <li>
            Reviewer Name:  {{dd.reviewer_name}}
        </li>
        {% endfor %}
</body>
</html>